@charset "utf-8";
/* CSS Document */

html {
	margin:20px;
}

body {
	background-color: #222;
	color: #FFF;
	font-family:Arial,Verdana,Sans-Serif;
	font-size:0.8em;	
}

a { color:#06F }
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; color: #FFF; }

p {
	line-height:1.7em;
}

div h4 {
	margin:0;
}

img {
	border-right:2px solid #111;
	border-bottom:3px solid #1F1F1F;
}

ol {
}

li {
	margin:0;
}

ol p {
	margin:0.25em auto 1.25em auto;
	line-height:1.2em;
	color: #777;
}

#nav li {
	margin:0;
}

hr {
	margin:0 auto;
}

dl {
}

dl dt {
	color:#C60;
	font-style:italic;
	font-weight:bold;
	padding:0;
	margin:1em 0 0 0;
}

dl dd {
	padding:0;
	margin:0.25em 1.5em 2em 1.5em;
}

.argType {
	color:#FFF;
	font-weight:normal;
}