@charset "utf-8";
/* CSS Document */

html {
	margin:20px;
}

body {
	background-color: #222;
	color: #FFF;
	font-family:Arial,Verdana,Sans-Serif;
	font-size:0.8em;	
}

a { color:#06F }
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; color: #FFF; }

p {
	line-height:1.7em;
}

div h4 {
	margin:0;
}

img {
	border-right:2px solid #111;
	border-bottom:3px solid #1F1F1F;
}

ul {
	margin:0;
	list-style-type: square;
}

li {
	margin-left:2em;
}

li p {
	margin:0.5em auto 1.25em auto;
	line-height:1.2em;
	color: #777;
}

#nav li {
	margin:0;
}

hr {
	margin:0 auto;
}